ACCOUNT_ID=dummy_account@bakong.com
CURRENCY=USD
NAME=John Smith
CITY=PHNOM PENH
AMOUNT=10.50
MOBILE_NUMBER=85510123456
STORE_LABEL=SAMPLE STORE
TERMINAL_LABEL=POS_001
PURPOSE_OF_TRANSACTION=payment
LANGUAGE_PREFERENCE=en
MERCHANT_NAME_ALT_LANG=km
MERCHANT_CITY_ALT_LANG=ភ្នំពេញ
UPI_MERCHANT_ACCOUNT=1234567890123456ABCDEFGHIJKLMN